<div >
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="{{site.url}}{{site.baseurl}}/assets/images/photography/image1.jpg">
        <img src="{{site.url}}{{site.baseurl}}/assets/images/photography/image1.jpg" alt="image" width="200" height="100">
      </a>
    </div>
  </div>


  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="{{site.url}}{{site.baseurl}}/assets/images/photography/image2.jpg">
        <img src="{{site.url}}{{site.baseurl}}/assets/images/photography/image2.jpg" alt="image" width="200" height="100">
      </a>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="{{site.url}}{{site.baseurl}}/assets/images/photography/image3.jpg">
        <img src="{{site.url}}{{site.baseurl}}/assets/images/photography/image3.jpg" alt="image" width="200" height="100">
      </a>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="{{site.url}}{{site.baseurl}}/assets/images/photography/image4.jpg">
        <img src="{{site.url}}{{site.baseurl}}/assets/images/photography/image4.jpg" alt="image" width="200" height="100">
      </a>
    </div>
  </div>
</div>
