<div id="nav">
  <a href="{{site.url}}{{site.baseurl}}/">Home</a> ·
  <a href="{{site.url}}{{site.baseurl}}/projects/">Publications</a> ·
  <a href="{{site.url}}{{site.baseurl}}/resume/">Resume</a> ·
  <a href="{{site.url}}{{site.baseurl}}/assorted/">Assorted</a> ·
  <a href="{{site.url}}{{site.baseurl}}/contact/">Contact</a> ·
  <a href="https://scholar.google.ca/citations?user=H_l6pEIAAAAJ&hl=en" target="_blank"><img src="{{site.url}}{{site.baseurl}}/assets/images/scholar_logo.svg.png" style="height:20px;width:20px;"></img></a>
  <a href="https://github.com/bhanu77prakash/" target="_blank"><img src="{{site.url}}{{site.baseurl}}/assets/images/github.png" style="height:20px;width:20px;"></img></a>
</div>
