<div id="nav">
  <a href="{{site.url}}{{site.baseurl}}/">Home</a> ·
  <a href="{{site.url}}{{site.baseurl}}/projects/">Publications</a> ·
  <a href="{{site.url}}{{site.baseurl}}/projects/">Education</a> ·
  <a href="{{site.url}}{{site.baseurl}}/assorted/">Assorted</a> ·
  <a href="{{site.url}}{{site.baseurl}}/contact/">Contact</a>
  <a href="https://scholar.google.ca/citations?user=H_l6pEIAAAAJ&hl=en"><img src="{{site.url}}{{site.baseurl}}/assets/images/scholar_logo.svg.png" style="height:50px;width:50px;"></img></a>
</div>
