<div id="nav">
  <a href="{{site.url}}{{site.baseurl}}/">Home</a> ·
  <a href="{{site.url}}{{site.baseurl}}/projects/">Publications</a> ·
  <a href="{{site.url}}{{site.baseurl}}/projects/">Education</a> ·
  <a href="{{site.url}}{{site.baseurl}}/assorted/">Assorted</a> ·
  <a href="{{site.url}}{{site.baseurl}}/contact/">Contact</a> ·
  <a href="https://scholar.google.ca/citations?user=H_l6pEIAAAAJ&hl=en"><img src="{{site.url}}{{site.baseurl}}/assets/images/scholar_logo.svg.png" style="height:20px;width:20px;"></img></a>
  <a href="https://github.com/bhanu77prakash/"><img src="{{site.url}}{{site.baseurl}}/assets/images/github.png" style="height:20px;width:20px;"></img></a>
  <a href="https://www.semanticscholar.org/author/Bhanu-Prakash-Reddy-Guda/66596133"><img src="{{site.url}}{{site.baseurl}}/assets/images/semantic.svg" style="height:20px;width:20px;"></img></a>
</div>
