body	{
	margin-top: 0px;
	padding:0;
	font-family: 'Cutive Mono', serif;
	font-size:95%;
	line-height:150%;
}

.typewriter h1 {
  color: #000;
  font-family: monospace;
	font-size: 1em;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .08em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .05em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}

a:link, a:visited	{
	text-decoration: none;
	color:#000
}

a:hover	{
	text-decoration: underline;
}

body {
  margin: 20px;
  padding: 0;
  text-align: center;
}
.container{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-auto-rows: 100px 300px;
  grid-gap: 10px;
  grid-auto-flow: dense;
}

.gallery-item{
  width: 100%;
  height: 100%;
  position: relative;
}

.gallery-item .image{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery-item .image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
  transition:.5s ease-in-out;
}

.gallery-item:hover .image img{
  transform: scale(1.5);
}

.gallery-item .text{
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-size: 25px;
  pointer-events: none;
  z-index: 4;
  transition: .3s ease-in-out;
  -webkit-backdrop-filter: blur(5px) saturate(1.8);
  backdrop-filter: blur(5px) saturate(1.8);
}

.gallery-item:hover .text{
  opacity: 1;
  animation: move-down .3s linear;
  padding: 1em;
  width: 100%;
}

.w-1{
  grid-column: span 1;
}

.w-2{
  grid-column: span 2;
}

.w-3{
  grid-column: span 3;
}

.w-4{
  grid-column: span 4;
}

.w-5{
  grid-column: span 5;
}

.w-6{
  grid-column: span 6;
}

.h-1{
  grid-row: span 1;
}

.h-2{
  grid-row: span 2;
}

.h-3{
  grid-row: span 3;
}

.h-4{
  grid-row: span 4;
}

.h-5{
  grid-row: span 5;
}

.h-6{
  grid-row: span 6;
}

@media screen and (max-width:500px){
  .container{
    grid-template-columns: repeat(1,1fr);
  }
  .w-1,.w-2,.w-3,.w-4,.w-5,.w-6{
  grid-column:span 1;
  }

  .h-1,.h-2,.h-3,.h-4,.h-5,.h-6{
  grid-row: span 3;
  }
}



@keyframes move-down{

  0%{
    top: 10%;
  }
  50%{
    top: 35%;
  }
  100%{
    top: 50%;
  }
}

#main {
	width: 50%;
	margin: 0 auto;
}

#nav {
	text-align:center;
	margin:auto;
	margin-top:0px;
	padding-top:0px;
	margin-bottom:5px;
	padding-bottom:5px;
	border-bottom: 1px solid #000;
}

#content-left {
	text-align:left;
	margin:auto;
	padding-top:5px;
	margin-bottom:20px;
	padding-bottom:20px;
}

#content {
	text-align:center;
	margin:auto;
	margin-top:20px;
	padding-top:20px;
	margin-bottom:20px;
	padding-bottom:20px;
}

#footer {
	text-align:center;
	margin:auto;
	font-size:0.8em;
	margin-bottom:10px;
	padding-bottom:10px;
	border-top: 1px solid #000;
}

#logo	{
	text-align:center;
	margin: 20px auto 20px auto;
}

#logo img {
	max-width: 50%;
}

#content-left a:link, #content-left a:visited	{
	text-decoration: underline;
	color:#000
}

#content-left a:hover	{
	text-decoration: none;
}

#post-short a:link, #post-short a:visited	{
	text-decoration: none;
	color:#000
}

#post-short a:hover	{
	text-decoration: underline;
}

#post-short h3, #post h2	{
	margin-bottom: 0px;
}

#post-short i	{
	font-size:0.8em;
	color: grey;
}

#post i	{
	font-size:0.9em;
	color: grey;
}

#categories a, #categories a:link, #categories a:visited {
	background-color: grey;
	text-decoration: none;
	padding: 0.1em 0.5em 0.1em 0.5em;
	border-radius: 25px;
}

#categories a:hover {
	text-decoration: underline;
}

@media screen and (max-width: 850px) {
	#main {
		width: auto;
		margin: 0 auto;
		padding: 10px;
	}

	#logo, #nav, #content-left,	#footer {
		display: block;
		width: 100%;
	}

	#logo img {
		max-width: 80%;
	}

	#nav {
		font-size: 2em;
		padding-bottom: 0.5em;
	}

	h2 {
		font-size: 3em;
	}

	h3 {
		font-size: 2em;
	}

}

@media screen and (max-width: 400px) {
	#main {
		width: auto;
		margin: 0 auto;
		padding: 10px;
	}

	#logo, #nav, #content-left,	#footer {
		display: block;
		width: 100%;
	}

	#logo img {
		max-width: 80%;
	}

	#nav {
		font-size: 1.1em;
		padding-bottom: 0.5em;
	}

	h2 {
		font-size: 2em;
	}

	h3 {
		font-size: 1.5em;
	}

}
