<!DOCTYPE html>
<html lang="{{site.language}}">
  {% include head.html %}
  <body>
	<div id="main">
		{% include logo.html %}
		{% include nav.html %}
		<div id="content-left">
      {% assign title = page.title | strip_newlines %}
      {% if title != ""  %}
      <h1>{{title}}</h1>
      {% endif %}
      {{content}}
      {% if page.title == "Assorted"  %}
      <script>
          var gallery = document.querySelector('#gallery');
          var getVal = function (elem, style) { return parseInt(window.getComputedStyle(elem).getPropertyValue(style)); };
          var getHeight = function (item) { return item.querySelector('.content').getBoundingClientRect().height; };
          var resizeAll = function () {
            var altura = getVal(gallery, 'grid-auto-rows');
            var gap = getVal(gallery, 'grid-row-gap');
            gallery.querySelectorAll('.gallery-item').forEach(function (item) {
                var el = item;
                el.style.gridRowEnd = "span " + Math.ceil((getHeight(item) + gap) / (altura + gap));
            });
          };
          gallery.querySelectorAll('img').forEach(function (item) {
            item.classList.add('byebye');
            if (item.complete) {
                console.log(item.src);
            }
            else {
                item.addEventListener('load', function () {
                    var altura = getVal(gallery, 'grid-auto-rows');
                    var gap = getVal(gallery, 'grid-row-gap');
                    var gitem = item.parentElement.parentElement;
                    gitem.style.gridRowEnd = "span " + Math.ceil((getHeight(gitem) + gap) / (altura + gap));
                    item.classList.remove('byebye');
                });
            }
          });
          window.addEventListener('resize', resizeAll);
          gallery.querySelectorAll('.gallery-item').forEach(function (item) {
            item.addEventListener('click', function () {
                item.classList.toggle('full');
            });
          });
      </script>
      <div class="gallery" id="gallery">

        {% for y in (1..4) %}
          <div class="gallery-item">
              <div class="content"><img src="{{site.url}}{{site.baseurl}}/assets/images/photography/image{{forloop.index}}.jpg" alt=""></div>
          </div>
          <!-- <div class="responsive">
            <div class="gallery">
              <a target="_blank" href="{{site.url}}{{site.baseurl}}/assets/images/photography/image{{forloop.index}}.jpg">
                <img src="{{site.url}}{{site.baseurl}}/assets/images/photography/image{{forloop.index}}.jpg" alt="image" width="200" height="100">
              </a>
            </div>
          </div> -->
        {% endfor %}
      </div>
      {% endif %}
		</div>
    {% include footer.html %}
	</div>
    </body>
</html>
