<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bhanu Prakash Reddy Guda</title>
</head>
<body>
    <h1>My Gallery</h1>
    <div class="container">
        {% for y in (1..9) %}
          <div class="gallery-container ">
            <div class="gallery-item">
              <div class="image">
                <img src='{{site.url}}{{site.baseurl}}/assets/images/photography/image{{forloop.index}}.jpg' alt=''>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>

</body>
</html>
