<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bhanu Prakash Reddy Guda</title>
    <meta charset="utf-8">
    <link href="{{site.url}}{{site.baseurl}}/assets/css/style.css" type="text/css" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet">
    <meta content="{{site.description}}" name="description"></meta>
    <meta content="{{site.owner}}" name="author"></meta>
    <meta content="Copyright 2017 {{site.owner}}. All rights reserved." name="copyright"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>My Gallery</h1>
    <script src="{{site.url}}{{site.baseurl}}/assets/css/style.js" type="text/javascript"></script>
    <div class="gallery" id="gallery">
        {% for y in (1..9) %}
            <div class="gallery-item">
              <div class="content">
                <img src='{{site.url}}{{site.baseurl}}/assets/images/photography/image{{forloop.index}}.jpg' alt=''>
              </div>
            </div>
        {% endfor %}
    </div>

</body>
</html>
