<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bhanu Prakash Reddy Guda</title>
    <meta charset="utf-8">
    <link href="{{site.url}}{{site.baseurl}}/assets/css/style.css" type="text/css" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet">
    <meta content="{{site.description}}" name="description"></meta>
    <meta content="{{site.owner}}" name="author"></meta>
    <meta content="Copyright 2017 {{site.owner}}. All rights reserved." name="copyright"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>My Gallery</h1>
    <script>
        var gallery = document.querySelector('#gallery');
        var getVal = function (elem, style) { return parseInt(window.getComputedStyle(elem).getPropertyValue(style)); };
        var getHeight = function (item) { return item.querySelector('.content').getBoundingClientRect().height; };
        var resizeAll = function () {
          var altura = getVal(gallery, 'grid-auto-rows');
          var gap = getVal(gallery, 'grid-row-gap');
          gallery.querySelectorAll('.gallery-item').forEach(function (item) {
              var el = item;
              el.style.gridRowEnd = "span " + Math.ceil((getHeight(item) + gap) / (altura + gap));
          });
        };
        gallery.querySelectorAll('img').forEach(function (item) {
          item.classList.add('byebye');
          if (item.complete) {
              console.log(item.src);
          }
          else {
              item.addEventListener('load', function () {
                  var altura = getVal(gallery, 'grid-auto-rows');
                  var gap = getVal(gallery, 'grid-row-gap');
                  var gitem = item.parentElement.parentElement;
                  gitem.style.gridRowEnd = "span " + Math.ceil((getHeight(gitem) + gap) / (altura + gap));
                  item.classList.remove('byebye');
              });
          }
        });
        window.addEventListener('resize', resizeAll);
        gallery.querySelectorAll('.gallery-item').forEach(function (item) {
          item.addEventListener('click', function () {
              item.classList.toggle('full');
          });
        });
    </script>
    <div class="gallery" id="gallery">
        {% for y in (1..9) %}
            <div class="gallery-item">
              <div class="content">
                <img src='{{site.url}}{{site.baseurl}}/assets/images/photography/image{{forloop.index}}.jpg' alt=''>
              </div>
            </div>
        {% endfor %}
    </div>

</body>
</html>
